.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding-top: 4rem;
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.h1 {
  font-size: 3rem;
  color: #ccc;
}

.ul {
  list-style: none;
  padding: 0;
}

.li {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
  align-items: center;
}

.checkbox {
  margin-right: 1rem;
}

.done {
  color: red;
  text-decoration: line-through;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: row; 
  justify-content: space-between;
  padding: 0;
}

.input {
  display: flex;
  width: 77%;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: .5rem;
  align-items: center;
  background-color: rgb(220, 233, 229);
}

.button {
  font-size: 14px;
  width: 16%;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #ccc;
  padding: 0;
  padding: 1rem 1rem;
  border-radius: 4px;
  margin: 0;
  align-items: center;
}